<h1>Listing registrations</h1>

<table id="listing">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Tickets</th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.name %></td>
        <td><%= registration.email %></td>
        <td><%= registration.tickets %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
