<h1>
<p id="notice"><%= notice %></p>
</h1>
</br>
<p>
	Spread the word : Share this with your friends on <a href="http://twitter.com/share?text=Are%20you%20in%20Delhi%20NCR?%20Join%20us%20RubyCamp%20on%20May%2031st,%202014.&url=http://rubycamp.delhirb.org">
Share This on Twitter</a>
</p>
