// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#listing {
  th, td {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
  thead tr {
    background-color: #c7c7c7;
  }
}
