<!--<span id="powered_by">Powered By: <%= link_to "ShepHertz Technology", "http://shephertz.com/", :target => "_blank" %></span> -->
<span id="hosted_on">Hosted on: <%= link_to "App42 PaaS", "http://app42paas.shephertz.com/", :target => "_blank" %></span>
