<h1>About RubyCamp</h1>

<p>
  The Ruby Community in Delhi NCR together with the Innovation & Technology Trust presents RubyCamp Delhi NCR 2014 on May 31st in Gurgaon, India. This is a great opportunity for Ruby enthusiasts to brainstorm, network and learn about the latest technology changes first-hand.  
</p>
<P>
  This is the first edition of RubyCamp to be hosted in Delhi NCR. Hopefully, the camp will become an annual event in the future, contributing to the growth of the community.
</P>
