<div class="cfp">
	<p><strong>Call for Proposal starts</strong>: 1st June</p>
	<p><strong>Call for Proposal ends</strong>: 25th June</p>

	<p>Welcome to very first edition of RubyCamp to be help in gurgaon, india at ShepHertz Technologies.</p><br/>

	<div id= "submit_talk" align="center"><%= link_to "Submit Your Talk", "https://docs.google.com/forms/d/1ziU9b4SwhM1HJthETKGkCQ4djOQyyerhenBs2Tv98g4/viewform?edit_requested=true", target: "_blank"%></div>
	<ol><h2>Overall Process:</h2>
		<li>You submit your proposal with title, description, and reasons why we should pick you.</li>
		<li>We evaluate your proposal with our predefined standards.</li>
		<li>We update you your application status.</li>
		<li>That's it. How simple was that?</li>
	</ol>


</div>
