<div id="title"><span class="red">Ruby</span> Camp</div>
</br>
<div id="subtitle">Delhi/NCR</div>
</br>
<div id="date"> * May 31, 2014 * </div>
</br>
</br>
<h1>RubyCamp</h1>
<p>
	Ruby Camp is brought to you by the Delhi NCR Ruby Community. 
</p>

<p>
	Team email: <%= mail_to "team@delhirb.org" %>
</p>