<h1>Speakers</h1>

<div id="main" class="speakerList">
  <div id="main1" class="speaker">
	<div id="image" class="image"><%= image_tag("https://fedoraproject.org/w/uploads/3/34/Tuxdna.jpg")%></div>
	<div class="title">Saleem Ansari</div>
	<div id="data" class="info">Full Stack Developer on JVM languages. Product Design & Development, Enterprise Applications, Web Applications.
</br>
</br>
Programming Languages: Java, C/C++, Ruby, Scala, Bash scripting
</br>
</br>
I have over 6 years of experience in design and implementation of complex, high-traffic, Web Based Applications. These applications required engineering on both back-end and front-end, primarily deployed on Linux platform and developed using either of Java, Ruby or other scripting languages like Perl, PHP or Python. Apart from the common MVC frameworks and SQL databases, the backend of these technologies also involved NoSQL database (MongoDB) and Information Retrieval tools such as Apache Lucene, Apache Solr or Elasticsearch. </div>
  </div>

  <div id="main1" class="speaker">
	<div id="image" class="image"><%= image_tag("naveen_goswami.jpg")%></div>
	<div class="title">Naveen Goswami</div>
	<div id="data" class="info">Naveen is a programmer geek with huge interest in programming languages and cloud computing. He is well versed in architecture and designing of High Volume Distributed system. At shephertz, I am executing complete product development life cycle (SDLC)  of App42 PaaS with the excellence in Architecture Design and Coding using Java/Spring/Ruby/Nodejs. 
</div>
  </div>
  </br>

  <div id="main1" class="speaker">
	<div id="image" class="image"><%= image_tag("images.jpeg")%></div>
	<div class="title">Coming Soon...</div>
	<div id="data" class="info">We encourage you to contribute to RubyCamp! </div>
  </div>
</div>
