<h1>Schedule</h1>

<h3>11.00 am - 11:15 - Welcome Note</h3>

<h3>11.15am - 12.00pm - Machine Learning with Ruby</h3>

<p>This talk is about different ways to make sense out of data
using Classification, Clustering and Recommendation algorithms. There
will be a demo of the same as well. Requirements to attend this talk
is a basic understanding of Ruby programming language and also basic
Probability and Statistics.</p>

<h3>12:05pm - 12:50 pm - App42 PaaS</h3>

</p>App42 PaaS is polyglot application hosting platform which lets you stay away from server-side hassles. It allows you to concentrate on your applications to deliver maximum value to your end users. App42 PaaS is backed with multiple services ranging from RDBMS like MySQL and PostgreSQL to NoSQL storage like MongoDB and CouchDB. You can create multiple environments (Java, PHP, Ruby, Nodejs and Python) based on your choice and integrate it with the services available in a seamless manner.</p>

<h3>12:50pm - 2:00pm - Networking & Lunch

2:00pm - 2:45 pm - Coming

2:45pm - 3:30pm - Open floor discussion, short talks, etc.

3:30pm - 3:45 - Closing Note</h3>
