<div class="schedule">
<h1>Schedule</h1>

<div class="title"><h4>11.00 am - 11:15 - Welcome Note</h4><br/></div>

<h4>11.15am - 12.00pm - Machine Learning with Ruby (Saleem Ansari)</h4>

<p>This talk is about different ways to make sense out of data
using Classification, Clustering and Recommendation algorithms. There
will be a demo of the same as well. Requirements to attend this talk
is a basic understanding of Ruby programming language and also basic
Probability and Statistics.</p>

<h4>12:05pm - 12:50 pm - App42 PaaS (Naveen Goswami)</h4>

</p>App42 PaaS is polyglot application hosting platform which lets you stay away from server-side hassles. It allows you to concentrate on your applications to deliver maximum value to your end users. App42 PaaS is backed with multiple services ranging from RDBMS like MySQL and PostgreSQL to NoSQL storage like MongoDB and CouchDB. You can create multiple environments (Java, PHP, Ruby, Nodejs and Python) based on your choice and integrate it with the services available in a seamless manner.</p>

<h4>12:50pm - 2:00pm - Networking & Lunch</h4>
<p>Here participants are encouraged to network with fellow Rubyists, if you can resist the temptation of free food ;)</p>

<h4>2:00pm - 2:45 pm - Rails Routing (Ujjwal Thaakar)</h4><br/>

<p>In this talk you will learn how exactly the rails routing dsl is parsed and executed. You will also learn about the downsides to the current implementation and how to refactor it into a much more modular codebase.</p>

<h4>2:45pm - 3:30pm - Open floor discussion, short talks, etc.<br/></h4>
<p>Discussion about future events, interesting topics and how to expand our community.</p>

<h4>3:30pm - 3:45 - Closing Note by Abhishek Nalwaya</h4><br/>

</div>
