<h1>Venue</h1>
</br>
<h2>Host Venue</h2>

<p>
	ShepHertz Technology
</p>

<h2>Address</h2>
<p>
    ShepHertz Technology,
	1128, 11th floor, Tower-A, Spaze I-Tech Park, Sector-49, Sohna Road, Gurgaon
</p>

<h2>LandMark:</h2>
<p>
    Shoppers Stop, near Omaxe Gurgaon Mall, Sohna-Gurgaon Rd
</p>

