<h1>Venue</h1>
</br>
<h2>Host Venue</h2>

<p>
	ShepHertz Technologies
</p>

<h2>Address</h2>
<p>
    ShepHertz Technologies,
	1128, 11th floor, Tower-A, Spaze I-Tech Park, Sector-49, Sohna Road, Gurgaon
</p>

<h2>LandMark:</h2>
<p>
    Shoppers Stop, near Omaxe Gurgaon Mall, Sohna-Gurgaon Rd
</p>

<h2>Google Map:</h2>
<p>
  <div id="map">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=700x400&sensor=false&zoom=16&markers=#{28.405987}%2C#{77.043690}" %>
</div>

</p>


